---
import Button from "./Button.astro";
import type { ComponentProps, HTMLAttributes } from "astro/types";

interface Props
  extends HTMLAttributes<"a">,
    Omit<ComponentProps<typeof Button>, keyof HTMLAttributes<"button">> {
  fontSize?: string;
}

const {
  size,
  iconOnly,
  class: providedClass,
  fontSize = "inherit",
  hoverFillColor,
  hoverBorderColor,
  variant,
  ...props
} = Astro.props;
---

<style>
  a {
    text-decoration: none;
    color: inherit;
  }
</style>
<a class={providedClass} tabindex="-1" {...props}>
  <Button
    size={size}
    iconOnly={iconOnly}
    fontSize={fontSize}
    hoverFillColor={hoverFillColor}
    hoverBorderColor={hoverBorderColor}
    variant={variant}
  >
    <slot />
  </Button>
</a>
