---
import Page from "../layouts/Page.astro";
import Logo from "../components/logos/Logo.astro";
import { Icon } from "astro-icon/components";
import LinkButton from "../components/buttons/LinkButton.astro";

const LOGO_COLORS = {
  linkedinBlue: "#0072b1",
  linkedinBlueDark: "#00669f",
  githubGray: "#0d1117",
  githubGrayDark: "#090b10",
};
---

<Page
  style={{
    width: "fit-content",
    margin: "0 auto",
    display: "flex",
    flexDirection: "column",
    alignItems: "center",
    gap: "3rem",
  }}
  headProps={{
    titleExtension: "Home",
  }}
>
  <Logo
    variant="filled"
    color="var(--purple)"
    style={{
      height: "35px",
      width: "35px",
      borderRadius: "15%",
      boxShadow: "0 0 8px rgba(0, 0, 0, 0.5)",
      padding: "12px",
    }}
  />
  <section>
    <h1
      style={{
        display: "flex",
        alignItems: "center",
        gap: "0.5rem",
        margin: "auto",
        animationDelay: "0.3s",
        textAlign: "center",
      }}
      class="fade-in-up"
    >
      Brayden Babbitt
    </h1>
  </section>
  <section>
    <LinkButton
      href="/projects"
      class="fade-in-up"
      fontSize="1.25rem"
      style={{ animationDelay: "0.6s" }}
      size={30}
    >
      Projects
    </LinkButton>
  </section>
  <section>
    <div
      style={{
        display: "flex",
        gap: "10px",
      }}
    >
      <LinkButton
        href="https://github.com/braydenbabbitt"
        target="_blank"
        rel="noopener"
        title="Personal Github"
        class="fade-in-up"
        style={{ animationDelay: "0.6s" }}
        iconOnly
        size={20}
        variant="fill-on-hover"
        hoverFillColor={LOGO_COLORS.githubGray}
        hoverBorderColor={LOGO_COLORS.githubGrayDark}
      >
        <Icon name="streamline-logos:github-logo-2-solid" size="25px" />
      </LinkButton>
      <LinkButton
        href="https://github.com/Haptic-Labs"
        target="_blank"
        rel="noopener"
        class="fade-in-up"
        title="Public Github (used for content creation)"
        style={{ animationDelay: "0.9s" }}
        iconOnly
        size={20}
        variant="fill-on-hover"
        hoverFillColor={LOGO_COLORS.githubGray}
        hoverBorderColor={LOGO_COLORS.githubGrayDark}
      >
        <Icon name="streamline-logos:github-logo-2-solid" size="25px" />
      </LinkButton>
      <LinkButton
        href="https://linkedin.com/in/brayden-babbitt"
        target="_blank"
        rel="noopener"
        title="LinkedIn"
        class="fade-in-up"
        style={{ animationDelay: "1.2s" }}
        iconOnly
        size={20}
        variant="fill-on-hover"
        hoverFillColor={LOGO_COLORS.linkedinBlue}
        hoverBorderColor={LOGO_COLORS.linkedinBlueDark}
      >
        <Icon name="streamline-logos:linkedin-logo-block" size="25px" />
      </LinkButton>
    </div>
  </section>
</Page>
